-- Criação do schema
CREATE SCHEMA IF NOT EXISTS carona AUTHORIZATION postgres;

-- ========================
-- TABELA USUÁRIOS
-- ========================
CREATE TABLE IF NOT EXISTS carona.usuarios (
    id SERIAL PRIMARY KEY,
    nome VARCHAR(100) NOT NULL,
    email VARCHAR(100) NOT NULL UNIQUE,
    senha VARCHAR(255) NOT NULL,
    tipo VARCHAR(20) NOT NULL CHECK (tipo IN ('passageiro', 'motorista')),
    data_cadastro TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

-- ========================
-- TABELA PASSAGEIROS
-- ========================
CREATE TABLE IF NOT EXISTS carona.passageiros (
    id SERIAL PRIMARY KEY,
    usuario_id INT NOT NULL REFERENCES carona.usuarios(id),
    nome_completo VARCHAR(255) NOT NULL,
    cpf VARCHAR(14) NOT NULL,
    endereco VARCHAR(255),
    email VARCHAR(255) NOT NULL,
    telefone VARCHAR(20),
    senha VARCHAR(255) NOT NULL,
    preferencias VARCHAR(255)
);

-- ========================
-- TABELA MOTORISTAS
-- ========================
CREATE TABLE IF NOT EXISTS carona.motoristas (
    id SERIAL PRIMARY KEY,
    usuario_id INT NOT NULL REFERENCES carona.usuarios(id),
    nome VARCHAR(255) NOT NULL,
    cpf VARCHAR(14) NOT NULL,
    cnh VARCHAR(20) NOT NULL,
    endereco VARCHAR(255),
    email VARCHAR(255) NOT NULL,
    telefone VARCHAR(20),
    senha VARCHAR(255) NOT NULL,
    veiculo VARCHAR(100),
    marca VARCHAR(50),
    modelo VARCHAR(50),
    cor VARCHAR(30),
    ar_condicionado BOOLEAN,
    combustivel VARCHAR(20),
    assentos INT
);

-- ========================
-- TABELA ACESSIBILIDADE
-- ========================
CREATE TABLE IF NOT EXISTS carona.acessibilidade (
    id SERIAL PRIMARY KEY,
    usuario_id INT NOT NULL REFERENCES carona.usuarios(id),
    tipo_acessibilidade VARCHAR(50) NOT NULL CHECK (tipo_acessibilidade IN (
        'DEFICIENCIA_MOTORA',
        'DEFICIENCIA_VISUAL',
        'DEFICIENCIA_AUDITIVA',
        'IDOSO',
        'GRAVIDEZ',
        'CADEIRANTE'
    )),
    preferencias VARCHAR(100)
);

-- ========================
-- TABELA CORRIDAS
-- ========================
CREATE TABLE IF NOT EXISTS carona.corridas (
    id SERIAL PRIMARY KEY,
    passageiro_id INT NOT NULL REFERENCES carona.passageiros(id),
    motorista_id INT NOT NULL REFERENCES carona.motoristas(id),
    origem VARCHAR(255),
    destino VARCHAR(255),
    data_corrida TIMESTAMP,
    status VARCHAR(20) CHECK (status IN ('pendente','em_andamento','finalizada','cancelada')),
    valor NUMERIC(10,2)
);

-- ========================
-- TABELA PAGAMENTOS
-- ========================
CREATE TABLE IF NOT EXISTS carona.pagamentos (
    id SERIAL PRIMARY KEY,
    corrida_id INT NOT NULL REFERENCES carona.corridas(id),
    valor_pago NUMERIC(10,2),
    data_pagamento TIMESTAMP,
    metodo_pagamento VARCHAR(50),
    status VARCHAR(20) CHECK (status IN ('pendente','aprovado','recusado'))
);

-- ========================
-- TABELA AVALIAÇÕES
-- ========================
CREATE TABLE IF NOT EXISTS carona.avaliacoes (
    id SERIAL PRIMARY KEY,
    corrida_id INT NOT NULL REFERENCES carona.corridas(id),
    usuario_id INT NOT NULL REFERENCES carona.usuarios(id),
    nota INT CHECK (nota >= 1 AND nota <= 5),
    comentario TEXT,
    data_avaliacao TIMESTAMP
);

-- ========================
-- TABELA NOTIFICAÇÕES
-- ========================
CREATE TABLE IF NOT EXISTS carona.notificacoes (
    id SERIAL PRIMARY KEY,
    usuario_id INT NOT NULL REFERENCES carona.usuarios(id),
    mensagem TEXT,
    lida BOOLEAN DEFAULT FALSE,
    data_envio TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

-- ========================
-- TABELA CHAT
-- ========================
CREATE TABLE IF NOT EXISTS carona.chat (
    id SERIAL PRIMARY KEY,
    usuario_id INT NOT NULL REFERENCES carona.usuarios(id),
    mensagem TEXT,
    data_envio TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

-- ========================
-- TABELA RASTREAMENTO
-- ========================
CREATE TABLE IF NOT EXISTS carona.rastreamento_tempo_real (
    id SERIAL PRIMARY KEY,
    corrida_id INT NOT NULL REFERENCES carona.corridas(id),
    latitude NUMERIC(9,6),
    longitude NUMERIC(9,6),
    data_registro TIMESTAMP
);

-- ========================
-- TABELA DESVIOS
-- ========================
CREATE TABLE IF NOT EXISTS carona.desvios_inteligentes (
    id SERIAL PRIMARY KEY,
    corrida_id INT NOT NULL REFERENCES carona.corridas(id),
    rota_alternativa VARCHAR(255),
    motivo VARCHAR(255),
    data_desvio TIMESTAMP
);

-- ========================
-- TABELA ADMINISTRADORES
-- ========================
CREATE TABLE IF NOT EXISTS carona.administradores (
    id SERIAL PRIMARY KEY,
    usuario_id INT NOT NULL REFERENCES carona.usuarios(id),
    nivel_acesso VARCHAR(50)
);

-- ========================
-- TABELA EVENTOS CULTURAIS
-- ========================
CREATE TABLE IF NOT EXISTS carona.eventos_culturais (
    id SERIAL PRIMARY KEY,
    nome VARCHAR(100),
    descricao TEXT,
    data_evento TIMESTAMP,
    local VARCHAR(255)
);

-- ========================
-- TABELA EVENTOS DO SISTEMA
-- ========================
CREATE TABLE IF NOT EXISTS carona.eventos_sistema (
    id SERIAL PRIMARY KEY,
    tipo_evento VARCHAR(50),
    descricao TEXT,
    data_evento TIMESTAMP
);

-- ========================
-- TABELA TERMINAIS RURAIS
-- ========================
CREATE TABLE IF NOT EXISTS carona.terminais_rurais (
    id SERIAL PRIMARY KEY,
    nome VARCHAR(100),
    localizacao VARCHAR(255)
);

-- ========================
-- USUÁRIOS
-- ========================
INSERT INTO carona.usuarios (nome, email, senha, tipo)
VALUES 
('João Silva', 'joao@email.com', '123456', 'passageiro'),
('Maria Oliveira', 'maria@email.com', '654321', 'motorista'),
('Carlos Souza', 'carlos@email.com', 'senha123', 'passageiro'),
('Ana Santos', 'ana@email.com', 'minhasenha', 'motorista');

-- ========================
-- PASSAGEIROS
-- ========================
INSERT INTO carona.passageiros (usuario_id, nome_completo, cpf, endereco, email, telefone, senha, preferencias)
VALUES 
(1, 'João da Silva', '111.111.111-11', 'Rua A, 123', 'joao@email.com', '98999990001', '123456', 'silencio'),
(3, 'Carlos de Souza', '333.333.333-33', 'Rua C, 456', 'carlos@email.com', '98999990003', 'senha123', 'musica');

-- ========================
-- MOTORISTAS
-- ========================
INSERT INTO carona.motoristas (usuario_id, nome, cpf, cnh, endereco, email, telefone, senha, veiculo, marca, modelo, cor, ar_condicionado, combustivel, assentos)
VALUES 
(2, 'Maria Oliveira', '222.222.222-22', 'B', 'Av. Central, 50', 'maria@email.com', '98999990002', '654321', 'Carro 1', 'Toyota', 'Corolla', 'preto', TRUE, 'flex', 4),
(4, 'Ana Santos', '444.444.444-44', 'B', 'Rua D, 999', 'ana@email.com', '98999990004', 'minhasenha', 'Carro 2', 'Fiat', 'Argo', 'branco', TRUE, 'etanol', 4);

-- ========================
-- ACESSIBILIDADE
-- ========================
INSERT INTO carona.acessibilidade (usuario_id, tipo_acessibilidade, preferencias)
VALUES
(1, 'DEFICIENCIA_VISUAL', 'Precisa de auxílio para leitura'),
(2, 'IDOSO', 'Idade acima de 65 anos');

-- ========================
-- CORRIDAS
-- ========================
INSERT INTO carona.corridas (passageiro_id, motorista_id, origem, destino, data_corrida, status, valor)
VALUES
(1, 1, 'Terminal Rodoviário', 'Shopping Center', NOW(), 'pendente', 25.50),
(2, 2, 'Aeroporto', 'Universidade Federal', NOW(), 'finalizada', 40.00);

-- ========================
-- PAGAMENTOS
-- ========================
INSERT INTO carona.pagamentos (corrida_id, valor_pago, data_pagamento, metodo_pagamento, status)
VALUES
(1, 25.50, NOW(), 'pix', 'pendente'),
(2, 40.00, NOW(), 'cartao_credito', 'aprovado');

-- ========================
-- AVALIAÇÕES
-- ========================
INSERT INTO carona.avaliacoes (corrida_id, usuario_id, nota, comentario, data_avaliacao)
VALUES
(2, 1, 5, 'Corrida tranquila e motorista atenciosa.', NOW());

-- ========================
-- NOTIFICAÇÕES
-- ========================
INSERT INTO carona.notificacoes (usuario_id, mensagem, lida)
VALUES
(1, 'Sua corrida foi confirmada!', FALSE),
(2, 'Pagamento aprovado.', TRUE);

-- ========================
-- CHAT
-- ========================
INSERT INTO carona.chat (usuario_id, mensagem)
VALUES
(1, 'Boa tarde, já está chegando?'),
(2, 'Sim, estou a 5 minutos do local.');

-- ========================
-- RASTREAMENTO TEMPO REAL
-- ========================
INSERT INTO carona.rastreamento_tempo_real (corrida_id, latitude, longitude, data_registro)
VALUES
(1, -2.5295, -44.3028, NOW()),
(2, -2.5300, -44.3050, NOW());

-- ========================
-- DESVIOS INTELIGENTES
-- ========================
INSERT INTO carona.desvios_inteligentes (corrida_id, rota_alternativa, motivo, data_desvio)
VALUES
(2, 'Av. dos Holandeses', 'Trânsito intenso na rota original', NOW());

-- ========================
-- ADMINISTRADORES
-- ========================
INSERT INTO carona.administradores (usuario_id, nivel_acesso)
VALUES
(2, 'admin'),
(4, 'moderador');

-- ========================
-- EVENTOS CULTURAIS
-- ========================
INSERT INTO carona.eventos_culturais (nome, descricao, data_evento, local)
VALUES
('Festival de Música', 'Evento anual de bandas locais', '2025-11-20 18:00:00', 'Praça Deodoro'),
('Feira Gastronômica', 'Comida típica maranhense', '2025-12-05 12:00:00', 'Centro Histórico');

-- ========================
-- EVENTOS DO SISTEMA
-- ========================
INSERT INTO carona.eventos_sistema (tipo_evento, descricao, data_evento)
VALUES
('atualizacao', 'Sistema atualizado para versão 1.1', NOW()),
('manutencao', 'Servidor em manutenção preventiva', NOW());

-- ========================
-- TERMINAIS RURAIS
-- ========================
INSERT INTO carona.terminais_rurais (nome, localizacao)
VALUES
('Terminal Rural Anil', 'BR-135, Km 10'),
('Terminal Rural Cohatrac', 'Av. Principal, Cohatrac IV');

