--
-- PostgreSQL database dump
--

-- Dumped from database version 17.5
-- Dumped by pg_dump version 17.5

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: carona; Type: SCHEMA; Schema: -; Owner: postgres
--

CREATE SCHEMA carona;


ALTER SCHEMA carona OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: acessibilidade; Type: TABLE; Schema: carona; Owner: postgres
--

CREATE TABLE carona.acessibilidade (
    id integer NOT NULL,
    usuario_id integer NOT NULL,
    tipo_preferencia character varying(50),
    valor character varying(100)
);


ALTER TABLE carona.acessibilidade OWNER TO postgres;

--
-- Name: acessibilidade_id_seq; Type: SEQUENCE; Schema: carona; Owner: postgres
--

CREATE SEQUENCE carona.acessibilidade_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE carona.acessibilidade_id_seq OWNER TO postgres;

--
-- Name: acessibilidade_id_seq; Type: SEQUENCE OWNED BY; Schema: carona; Owner: postgres
--

ALTER SEQUENCE carona.acessibilidade_id_seq OWNED BY carona.acessibilidade.id;


--
-- Name: administradores; Type: TABLE; Schema: carona; Owner: postgres
--

CREATE TABLE carona.administradores (
    id integer NOT NULL,
    usuario_id integer NOT NULL,
    nivel_acesso character varying(50)
);


ALTER TABLE carona.administradores OWNER TO postgres;

--
-- Name: administradores_id_seq; Type: SEQUENCE; Schema: carona; Owner: postgres
--

CREATE SEQUENCE carona.administradores_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE carona.administradores_id_seq OWNER TO postgres;

--
-- Name: administradores_id_seq; Type: SEQUENCE OWNED BY; Schema: carona; Owner: postgres
--

ALTER SEQUENCE carona.administradores_id_seq OWNED BY carona.administradores.id;


--
-- Name: avaliacoes; Type: TABLE; Schema: carona; Owner: postgres
--

CREATE TABLE carona.avaliacoes (
    id integer NOT NULL,
    corrida_id integer NOT NULL,
    usuario_id integer NOT NULL,
    nota integer,
    comentario text,
    data_avaliacao timestamp without time zone,
    CONSTRAINT avaliacoes_nota_check CHECK (((nota >= 1) AND (nota <= 5)))
);


ALTER TABLE carona.avaliacoes OWNER TO postgres;

--
-- Name: avaliacoes_id_seq; Type: SEQUENCE; Schema: carona; Owner: postgres
--

CREATE SEQUENCE carona.avaliacoes_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE carona.avaliacoes_id_seq OWNER TO postgres;

--
-- Name: avaliacoes_id_seq; Type: SEQUENCE OWNED BY; Schema: carona; Owner: postgres
--

ALTER SEQUENCE carona.avaliacoes_id_seq OWNED BY carona.avaliacoes.id;


--
-- Name: chat; Type: TABLE; Schema: carona; Owner: postgres
--

CREATE TABLE carona.chat (
    id integer NOT NULL,
    usuario_id integer NOT NULL,
    mensagem text,
    data_envio timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE carona.chat OWNER TO postgres;

--
-- Name: chat_id_seq; Type: SEQUENCE; Schema: carona; Owner: postgres
--

CREATE SEQUENCE carona.chat_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE carona.chat_id_seq OWNER TO postgres;

--
-- Name: chat_id_seq; Type: SEQUENCE OWNED BY; Schema: carona; Owner: postgres
--

ALTER SEQUENCE carona.chat_id_seq OWNED BY carona.chat.id;


--
-- Name: corridas; Type: TABLE; Schema: carona; Owner: postgres
--

CREATE TABLE carona.corridas (
    id integer NOT NULL,
    passageiro_id integer NOT NULL,
    motorista_id integer NOT NULL,
    origem character varying(255),
    destino character varying(255),
    data_corrida timestamp without time zone,
    status character varying(20),
    valor numeric(10,2),
    CONSTRAINT corridas_status_check CHECK (((status)::text = ANY ((ARRAY['pendente'::character varying, 'em_andamento'::character varying, 'finalizada'::character varying, 'cancelada'::character varying])::text[])))
);


ALTER TABLE carona.corridas OWNER TO postgres;

--
-- Name: corridas_id_seq; Type: SEQUENCE; Schema: carona; Owner: postgres
--

CREATE SEQUENCE carona.corridas_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE carona.corridas_id_seq OWNER TO postgres;

--
-- Name: corridas_id_seq; Type: SEQUENCE OWNED BY; Schema: carona; Owner: postgres
--

ALTER SEQUENCE carona.corridas_id_seq OWNED BY carona.corridas.id;


--
-- Name: desvios_inteligentes; Type: TABLE; Schema: carona; Owner: postgres
--

CREATE TABLE carona.desvios_inteligentes (
    id integer NOT NULL,
    corrida_id integer NOT NULL,
    rota_alternativa character varying(255),
    motivo character varying(255),
    data_desvio timestamp without time zone
);


ALTER TABLE carona.desvios_inteligentes OWNER TO postgres;

--
-- Name: desvios_inteligentes_id_seq; Type: SEQUENCE; Schema: carona; Owner: postgres
--

CREATE SEQUENCE carona.desvios_inteligentes_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE carona.desvios_inteligentes_id_seq OWNER TO postgres;

--
-- Name: desvios_inteligentes_id_seq; Type: SEQUENCE OWNED BY; Schema: carona; Owner: postgres
--

ALTER SEQUENCE carona.desvios_inteligentes_id_seq OWNED BY carona.desvios_inteligentes.id;


--
-- Name: eventos_culturais; Type: TABLE; Schema: carona; Owner: postgres
--

CREATE TABLE carona.eventos_culturais (
    id integer NOT NULL,
    nome character varying(100),
    descricao text,
    data_evento timestamp without time zone,
    local character varying(255)
);


ALTER TABLE carona.eventos_culturais OWNER TO postgres;

--
-- Name: eventos_culturais_id_seq; Type: SEQUENCE; Schema: carona; Owner: postgres
--

CREATE SEQUENCE carona.eventos_culturais_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE carona.eventos_culturais_id_seq OWNER TO postgres;

--
-- Name: eventos_culturais_id_seq; Type: SEQUENCE OWNED BY; Schema: carona; Owner: postgres
--

ALTER SEQUENCE carona.eventos_culturais_id_seq OWNED BY carona.eventos_culturais.id;


--
-- Name: eventos_sistema; Type: TABLE; Schema: carona; Owner: postgres
--

CREATE TABLE carona.eventos_sistema (
    id integer NOT NULL,
    tipo_evento character varying(50),
    descricao text,
    data_evento timestamp without time zone
);


ALTER TABLE carona.eventos_sistema OWNER TO postgres;

--
-- Name: eventos_sistema_id_seq; Type: SEQUENCE; Schema: carona; Owner: postgres
--

CREATE SEQUENCE carona.eventos_sistema_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE carona.eventos_sistema_id_seq OWNER TO postgres;

--
-- Name: eventos_sistema_id_seq; Type: SEQUENCE OWNED BY; Schema: carona; Owner: postgres
--

ALTER SEQUENCE carona.eventos_sistema_id_seq OWNED BY carona.eventos_sistema.id;


--
-- Name: motoristas; Type: TABLE; Schema: carona; Owner: postgres
--

CREATE TABLE IF NOT EXISTS carona.motoristas (
    id SERIAL PRIMARY KEY,
    usuario_id INTEGER NOT NULL,
    nome VARCHAR(255) NOT NULL,
    cpf VARCHAR(14) NOT NULL,
    cnh VARCHAR(20) NOT NULL,
    endereco VARCHAR(255),
    email VARCHAR(255) NOT NULL,
    telefone VARCHAR(20),
    senha VARCHAR(255) NOT NULL,
    veiculo VARCHAR(100),
    marca VARCHAR(50),
    modelo VARCHAR(50),
    cor VARCHAR(30),
    ar_condicionado BOOLEAN,
    combustivel VARCHAR(20),
    assentos INTEGER
);


ALTER TABLE carona.motoristas OWNER TO postgres;

--
-- Name: motoristas_id_seq; Type: SEQUENCE; Schema: carona; Owner: postgres
--

CREATE SEQUENCE cdocker exec borasio-postgres rm /tmp/borasio_carona_schema.sqlarona.motoristas_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE carona.motoristas_id_seq OWNER TO postgres;

--
-- Name: motoristas_id_seq; Type: SEQUENCE OWNED BY; Schema: carona; Owner: postgres
--

ALTER SEQUENCE carona.motoristas_id_seq OWNED BY carona.motoristas.id;


--
-- Name: notificacoes; Type: TABLE; Schema: carona; Owner: postgres
--

CREATE TABLE carona.notificacoes (
    id integer NOT NULL,
    usuario_id integer NOT NULL,
    mensagem text,
    lida boolean DEFAULT false,
    data_envio timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE carona.notificacoes OWNER TO postgres;

--
-- Name: notificacoes_id_seq; Type: SEQUENCE; Schema: carona; Owner: postgres
--

CREATE SEQUENCE carona.notificacoes_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE carona.notificacoes_id_seq OWNER TO postgres;

--
-- Name: notificacoes_id_seq; Type: SEQUENCE OWNED BY; Schema: carona; Owner: postgres
--

ALTER SEQUENCE carona.notificacoes_id_seq OWNED BY carona.notificacoes.id;


--
-- Name: pagamentos; Type: TABLE; Schema: carona; Owner: postgres
--

CREATE TABLE carona.pagamentos (
    id integer NOT NULL,
    corrida_id integer NOT NULL,
    valor_pago numeric(10,2),
    data_pagamento timestamp without time zone,
    metodo_pagamento character varying(50),
    status character varying(20),
    CONSTRAINT pagamentos_status_check CHECK (((status)::text = ANY ((ARRAY['pendente'::character varying, 'aprovado'::character varying, 'recusado'::character varying])::text[])))
);


ALTER TABLE carona.pagamentos OWNER TO postgres;

--
-- Name: pagamentos_id_seq; Type: SEQUENCE; Schema: carona; Owner: postgres
--

CREATE SEQUENCE carona.pagamentos_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE carona.pagamentos_id_seq OWNER TO postgres;

--
-- Name: pagamentos_id_seq; Type: SEQUENCE OWNED BY; Schema: carona; Owner: postgres
--

ALTER SEQUENCE carona.pagamentos_id_seq OWNED BY carona.pagamentos.id;


--
-- Name: passageiros; Type: TABLE; Schema: carona; Owner: postgres
--

CREATE TABLE IF NOT EXISTS carona.passageiros (
    id SERIAL PRIMARY KEY,
    usuario_id INTEGER NOT NULL,
    nome_completo VARCHAR(255) NOT NULL,
    cpf VARCHAR(14) NOT NULL,
    endereco VARCHAR(255),
    email VARCHAR(255) NOT NULL,
    telefone VARCHAR(20),
    senha VARCHAR(255) NOT NULL,
    preferencias VARCHAR(255)
);

ALTER TABLE carona.passageiros OWNER TO postgres;

--
-- Name: passageiros_id_seq; Type: SEQUENCE; Schema: carona; Owner: postgres
--

CREATE SEQUENCE carona.passageiros_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE carona.passageiros_id_seq OWNER TO postgres;

--
-- Name: passageiros_id_seq; Type: SEQUENCE OWNED BY; Schema: carona; Owner: postgres
--

ALTER SEQUENCE carona.passageiros_id_seq OWNED BY carona.passageiros.id;


--
-- Name: rastreamento_tempo_real; Type: TABLE; Schema: carona; Owner: postgres
--

CREATE TABLE carona.rastreamento_tempo_real (
    id integer NOT NULL,
    corrida_id integer NOT NULL,
    latitude numeric(9,6),
    longitude numeric(9,6),
    data_registro timestamp without time zone
);


ALTER TABLE carona.rastreamento_tempo_real OWNER TO postgres;

--
-- Name: rastreamento_tempo_real_id_seq; Type: SEQUENCE; Schema: carona; Owner: postgres
--

CREATE SEQUENCE carona.rastreamento_tempo_real_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE carona.rastreamento_tempo_real_id_seq OWNER TO postgres;

--
-- Name: rastreamento_tempo_real_id_seq; Type: SEQUENCE OWNED BY; Schema: carona; Owner: postgres
--

ALTER SEQUENCE carona.rastreamento_tempo_real_id_seq OWNED BY carona.rastreamento_tempo_real.id;


--
-- Name: terminais_rurais; Type: TABLE; Schema: carona; Owner: postgres
--

CREATE TABLE carona.terminais_rurais (
    id integer NOT NULL,
    nome character varying(100),
    localizacao character varying(255)
);


ALTER TABLE carona.terminais_rurais OWNER TO postgres;

--
-- Name: terminais_rurais_id_seq; Type: SEQUENCE; Schema: carona; Owner: postgres
--

CREATE SEQUENCE carona.terminais_rurais_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE carona.terminais_rurais_id_seq OWNER TO postgres;

--
-- Name: terminais_rurais_id_seq; Type: SEQUENCE OWNED BY; Schema: carona; Owner: postgres
--

ALTER SEQUENCE carona.terminais_rurais_id_seq OWNED BY carona.terminais_rurais.id;


--
-- Name: usuarios; Type: TABLE; Schema: carona; Owner: postgres
--

CREATE TABLE carona.usuarios (
    id integer NOT NULL,
    nome character varying(100) NOT NULL,
    email character varying(100) NOT NULL,
    senha character varying(255) NOT NULL,
    tipo character varying(20) NOT NULL,
    data_cadastro timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT usuarios_tipo_check CHECK (((tipo)::text = ANY ((ARRAY['passageiro'::character varying, 'motorista'::character varying])::text[])))
);


ALTER TABLE carona.usuarios OWNER TO postgres;

--
-- Name: usuarios_id_seq; Type: SEQUENCE; Schema: carona; Owner: postgres
--

CREATE SEQUENCE carona.usuarios_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE carona.usuarios_id_seq OWNER TO postgres;

--
-- Name: usuarios_id_seq; Type: SEQUENCE OWNED BY; Schema: carona; Owner: postgres
--

ALTER SEQUENCE carona.usuarios_id_seq OWNED BY carona.usuarios.id;


--
-- Name: acessibilidade id; Type: DEFAULT; Schema: carona; Owner: postgres
--

ALTER TABLE ONLY carona.acessibilidade ALTER COLUMN id SET DEFAULT nextval('carona.acessibilidade_id_seq'::regclass);


--
-- Name: administradores id; Type: DEFAULT; Schema: carona; Owner: postgres
--

ALTER TABLE ONLY carona.administradores ALTER COLUMN id SET DEFAULT nextval('carona.administradores_id_seq'::regclass);


--
-- Name: avaliacoes id; Type: DEFAULT; Schema: carona; Owner: postgres
--

ALTER TABLE ONLY carona.avaliacoes ALTER COLUMN id SET DEFAULT nextval('carona.avaliacoes_id_seq'::regclass);


--
-- Name: chat id; Type: DEFAULT; Schema: carona; Owner: postgres
--

ALTER TABLE ONLY carona.chat ALTER COLUMN id SET DEFAULT nextval('carona.chat_id_seq'::regclass);


--
-- Name: corridas id; Type: DEFAULT; Schema: carona; Owner: postgres
--

ALTER TABLE ONLY carona.corridas ALTER COLUMN id SET DEFAULT nextval('carona.corridas_id_seq'::regclass);


--
-- Name: desvios_inteligentes id; Type: DEFAULT; Schema: carona; Owner: postgres
--

ALTER TABLE ONLY carona.desvios_inteligentes ALTER COLUMN id SET DEFAULT nextval('carona.desvios_inteligentes_id_seq'::regclass);


--
-- Name: eventos_culturais id; Type: DEFAULT; Schema: carona; Owner: postgres
--

ALTER TABLE ONLY carona.eventos_culturais ALTER COLUMN id SET DEFAULT nextval('carona.eventos_culturais_id_seq'::regclass);


--
-- Name: eventos_sistema id; Type: DEFAULT; Schema: carona; Owner: postgres
--

ALTER TABLE ONLY carona.eventos_sistema ALTER COLUMN id SET DEFAULT nextval('carona.eventos_sistema_id_seq'::regclass);


--
-- Name: motoristas id; Type: DEFAULT; Schema: carona; Owner: postgres
--

ALTER TABLE ONLY carona.motoristas ALTER COLUMN id SET DEFAULT nextval('carona.motoristas_id_seq'::regclass);


--
-- Name: notificacoes id; Type: DEFAULT; Schema: carona; Owner: postgres
--

ALTER TABLE ONLY carona.notificacoes ALTER COLUMN id SET DEFAULT nextval('carona.notificacoes_id_seq'::regclass);


--
-- Name: pagamentos id; Type: DEFAULT; Schema: carona; Owner: postgres
--

ALTER TABLE ONLY carona.pagamentos ALTER COLUMN id SET DEFAULT nextval('carona.pagamentos_id_seq'::regclass);


--
-- Name: passageiros id; Type: DEFAULT; Schema: carona; Owner: postgres
--

ALTER TABLE ONLY carona.passageiros ALTER COLUMN id SET DEFAULT nextval('carona.passageiros_id_seq'::regclass);


--
-- Name: rastreamento_tempo_real id; Type: DEFAULT; Schema: carona; Owner: postgres
--

ALTER TABLE ONLY carona.rastreamento_tempo_real ALTER COLUMN id SET DEFAULT nextval('carona.rastreamento_tempo_real_id_seq'::regclass);


--
-- Name: terminais_rurais id; Type: DEFAULT; Schema: carona; Owner: postgres
--

ALTER TABLE ONLY carona.terminais_rurais ALTER COLUMN id SET DEFAULT nextval('carona.terminais_rurais_id_seq'::regclass);


--
-- Name: usuarios id; Type: DEFAULT; Schema: carona; Owner: postgres
--

ALTER TABLE ONLY carona.usuarios ALTER COLUMN id SET DEFAULT nextval('carona.usuarios_id_seq'::regclass);


--
-- Name: acessibilidade acessibilidade_pkey; Type: CONSTRAINT; Schema: carona; Owner: postgres
--

ALTER TABLE ONLY carona.acessibilidade
    ADD CONSTRAINT acessibilidade_pkey PRIMARY KEY (id);


--
-- Name: administradores administradores_pkey; Type: CONSTRAINT; Schema: carona; Owner: postgres
--

ALTER TABLE ONLY carona.administradores
    ADD CONSTRAINT administradores_pkey PRIMARY KEY (id);


--
-- Name: avaliacoes avaliacoes_pkey; Type: CONSTRAINT; Schema: carona; Owner: postgres
--

ALTER TABLE ONLY carona.avaliacoes
    ADD CONSTRAINT avaliacoes_pkey PRIMARY KEY (id);


--
-- Name: chat chat_pkey; Type: CONSTRAINT; Schema: carona; Owner: postgres
--

ALTER TABLE ONLY carona.chat
    ADD CONSTRAINT chat_pkey PRIMARY KEY (id);


--
-- Name: corridas corridas_pkey; Type: CONSTRAINT; Schema: carona; Owner: postgres
--

ALTER TABLE ONLY carona.corridas
    ADD CONSTRAINT corridas_pkey PRIMARY KEY (id);


--
-- Name: desvios_inteligentes desvios_inteligentes_pkey; Type: CONSTRAINT; Schema: carona; Owner: postgres
--

ALTER TABLE ONLY carona.desvios_inteligentes
    ADD CONSTRAINT desvios_inteligentes_pkey PRIMARY KEY (id);


--
-- Name: eventos_culturais eventos_culturais_pkey; Type: CONSTRAINT; Schema: carona; Owner: postgres
--

ALTER TABLE ONLY carona.eventos_culturais
    ADD CONSTRAINT eventos_culturais_pkey PRIMARY KEY (id);


--
-- Name: eventos_sistema eventos_sistema_pkey; Type: CONSTRAINT; Schema: carona; Owner: postgres
--

ALTER TABLE ONLY carona.eventos_sistema
    ADD CONSTRAINT eventos_sistema_pkey PRIMARY KEY (id);


--
-- Name: motoristas motoristas_pkey; Type: CONSTRAINT; Schema: carona; Owner: postgres
--

ALTER TABLE ONLY carona.motoristas
    ADD CONSTRAINT motoristas_pkey PRIMARY KEY (id);


--
-- Name: notificacoes notificacoes_pkey; Type: CONSTRAINT; Schema: carona; Owner: postgres
--

ALTER TABLE ONLY carona.notificacoes
    ADD CONSTRAINT notificacoes_pkey PRIMARY KEY (id);


--
-- Name: pagamentos pagamentos_pkey; Type: CONSTRAINT; Schema: carona; Owner: postgres
--

ALTER TABLE ONLY carona.pagamentos
    ADD CONSTRAINT pagamentos_pkey PRIMARY KEY (id);


--
-- Name: passageiros passageiros_pkey; Type: CONSTRAINT; Schema: carona; Owner: postgres
--

ALTER TABLE ONLY carona.passageiros
    ADD CONSTRAINT passageiros_pkey PRIMARY KEY (id);


--
-- Name: rastreamento_tempo_real rastreamento_tempo_real_pkey; Type: CONSTRAINT; Schema: carona; Owner: postgres
--

ALTER TABLE ONLY carona.rastreamento_tempo_real
    ADD CONSTRAINT rastreamento_tempo_real_pkey PRIMARY KEY (id);


--
-- Name: terminais_rurais terminais_rurais_pkey; Type: CONSTRAINT; Schema: carona; Owner: postgres
--

ALTER TABLE ONLY carona.terminais_rurais
    ADD CONSTRAINT terminais_rurais_pkey PRIMARY KEY (id);


--
-- Name: usuarios usuarios_email_key; Type: CONSTRAINT; Schema: carona; Owner: postgres
--

ALTER TABLE ONLY carona.usuarios
    ADD CONSTRAINT usuarios_email_key UNIQUE (email);


--
-- Name: usuarios usuarios_pkey; Type: CONSTRAINT; Schema: carona; Owner: postgres
--

ALTER TABLE ONLY carona.usuarios
    ADD CONSTRAINT usuarios_pkey PRIMARY KEY (id);


--
-- Name: acessibilidade acessibilidade_usuario_id_fkey; Type: FK CONSTRAINT; Schema: carona; Owner: postgres
--

ALTER TABLE ONLY carona.acessibilidade
    ADD CONSTRAINT acessibilidade_usuario_id_fkey FOREIGN KEY (usuario_id) REFERENCES carona.usuarios(id);


--
-- Name: administradores administradores_usuario_id_fkey; Type: FK CONSTRAINT; Schema: carona; Owner: postgres
--

ALTER TABLE ONLY carona.administradores
    ADD CONSTRAINT administradores_usuario_id_fkey FOREIGN KEY (usuario_id) REFERENCES carona.usuarios(id);


--
-- Name: avaliacoes avaliacoes_corrida_id_fkey; Type: FK CONSTRAINT; Schema: carona; Owner: postgres
--

ALTER TABLE ONLY carona.avaliacoes
    ADD CONSTRAINT avaliacoes_corrida_id_fkey FOREIGN KEY (corrida_id) REFERENCES carona.corridas(id);


--
-- Name: avaliacoes avaliacoes_usuario_id_fkey; Type: FK CONSTRAINT; Schema: carona; Owner: postgres
--

ALTER TABLE ONLY carona.avaliacoes
    ADD CONSTRAINT avaliacoes_usuario_id_fkey FOREIGN KEY (usuario_id) REFERENCES carona.usuarios(id);


--
-- Name: chat chat_usuario_id_fkey; Type: FK CONSTRAINT; Schema: carona; Owner: postgres
--

ALTER TABLE ONLY carona.chat
    ADD CONSTRAINT chat_usuario_id_fkey FOREIGN KEY (usuario_id) REFERENCES carona.usuarios(id);


--
-- Name: corridas corridas_motorista_id_fkey; Type: FK CONSTRAINT; Schema: carona; Owner: postgres
--

ALTER TABLE ONLY carona.corridas
    ADD CONSTRAINT corridas_motorista_id_fkey FOREIGN KEY (motorista_id) REFERENCES carona.motoristas(id);


--
-- Name: corridas corridas_passageiro_id_fkey; Type: FK CONSTRAINT; Schema: carona; Owner: postgres
--

ALTER TABLE ONLY carona.corridas
    ADD CONSTRAINT corridas_passageiro_id_fkey FOREIGN KEY (passageiro_id) REFERENCES carona.passageiros(id);


--
-- Name: desvios_inteligentes desvios_inteligentes_corrida_id_fkey; Type: FK CONSTRAINT; Schema: carona; Owner: postgres
--

ALTER TABLE ONLY carona.desvios_inteligentes
    ADD CONSTRAINT desvios_inteligentes_corrida_id_fkey FOREIGN KEY (corrida_id) REFERENCES carona.corridas(id);


--
-- Name: motoristas motoristas_usuario_id_fkey; Type: FK CONSTRAINT; Schema: carona; Owner: postgres
--

ALTER TABLE ONLY carona.motoristas
    ADD CONSTRAINT motoristas_usuario_id_fkey FOREIGN KEY (usuario_id) REFERENCES carona.usuarios(id);


--
-- Name: notificacoes notificacoes_usuario_id_fkey; Type: FK CONSTRAINT; Schema: carona; Owner: postgres
--

ALTER TABLE ONLY carona.notificacoes
    ADD CONSTRAINT notificacoes_usuario_id_fkey FOREIGN KEY (usuario_id) REFERENCES carona.usuarios(id);


--
-- Name: pagamentos pagamentos_corrida_id_fkey; Type: FK CONSTRAINT; Schema: carona; Owner: postgres
--

ALTER TABLE ONLY carona.pagamentos
    ADD CONSTRAINT pagamentos_corrida_id_fkey FOREIGN KEY (corrida_id) REFERENCES carona.corridas(id);


--
-- Name: passageiros passageiros_usuario_id_fkey; Type: FK CONSTRAINT; Schema: carona; Owner: postgres
--

ALTER TABLE ONLY carona.passageiros
    ADD CONSTRAINT passageiros_usuario_id_fkey FOREIGN KEY (usuario_id) REFERENCES carona.usuarios(id);


--
-- Name: rastreamento_tempo_real rastreamento_tempo_real_corrida_id_fkey; Type: FK CONSTRAINT; Schema: carona; Owner: postgres
--

ALTER TABLE ONLY carona.rastreamento_tempo_real
    ADD CONSTRAINT rastreamento_tempo_real_corrida_id_fkey FOREIGN KEY (corrida_id) REFERENCES carona.corridas(id);


--
-- PostgreSQL database dump complete
--

